@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* Montserrat */


@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@700&display=swap');


/* Fraunces */



:root {

    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);

    --Very-dark-blue: hsl(183, 84%, 25%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --fs--paragraph: 2rem;

    --ff-primary: "Montserrat";
    --ff-MPrimary: 'Montserrat', sans-serif;
    --ff-secondary: 'Fraunces', serif;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-cream);
}

.main {
    /* border: 2px solid black; */
    border-radius: 7px;
    width: 50%;
    height: 90%;
    display: flex;
    box-shadow: 50px 50px 75px 1px rgb(185, 180, 180);
    border-radius: 15px;
    background-color: var(--White);
}

.image {
    width: 50%;
    height: 100%;
    background: url(./images/image-product-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
}

.desc {
    width: 40%;
    height: 100%;
    padding: 2rem;
}

.desc > span:nth-child(1) {
    color: var(--Dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 7px;
    font-family: var(--ff-MPrimary);
}

.desc > h1 {
    color: black;
    font-family: var(--ff-secondary);
    margin: 0;
    padding: 0;
}

.desc > h1:nth-child(2) {
    margin-top: 2rem;
}

.desc > h1:nth-child(4) {
    margin-bottom: 2rem;
}

.desc > p {
    font-family: var(--ff-primary);
    color: var(--Dark-grayish-blue);
    line-height: 1.5rem;
    font-size: 1.09rem;
}

.price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price > h2 {
    width: 50%;
    font-family: var(--ff-secondary);
    color: var(--primary-dark-cyan);
    font-size: 2.1rem;
    display: inline;
}

.price > span {
    width: 50%;
    text-decoration: line-through;
    font-family: var(--ff-MPrimary);
    color: var(--Dark-grayish-blue);
}


button {
    width: 100%;
    /* background-color: var(--Very-dark-blue); */
    background-color: var(--primary-dark-cyan);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.15rem;
    font-weight: 700;
}

button:hover {
    background-color: hsla(120, 92%, 10%, 0.9);
}


button > img {
    padding: 0rem 1rem;
    height: 1.5rem;
    width: 1.5rem;
}


@media screen and (max-width: 1000px) {
    .desc {
        padding: 1.5rem;
    }

    .desc > span:nth-child(1) {
        letter-spacing: 1px;
    }
    
    
    .desc > h1:nth-child(2) {
        margin-top: 0.75rem;
    }
    
    .desc > h1:nth-child(4) {
        margin-bottom: 0.75rem;
    }

    .desc > p {
        line-height: 1.25rem;
        font-size: 1.05rem;
    }
    
    .price {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .price > h2 {
        width: 50%;
        font-size: 1.5rem;
        display: inline;
        padding: 0.1rem 1rem;
        padding-left: 0rem;
    }
    
    .price > span {
        width: 50%;
    }

    button {
        width: 100%;
        padding: 1rem 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 1.15rem;
        font-weight: 700;
    }
    
    button:hover {
        background-color: hsla(120, 92%, 10%, 0.9);
    }
    
    
    button > img {
        padding: 0rem 1rem;
        height: 1.5rem;
        width: 1.5rem;
    }
    
}

@media screen and (max-width: 800px) {
    .main {
        /* border: 2px solid black; */
        border-radius: 7px;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 50px 50px 75px 1px rgb(185, 180, 180);
        border-radius: 15px;
        background-color: var(--White);
    }
    
    .image {
        width: 100%;
        height: 50%;
        background: url(./images/image-product-desktop.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
    }
    
    .desc {
        width: 100%;
        height: 50%;
        margin: 0.5rem 0.25rem;
    }
    
    .desc > span:nth-child(1) {
        letter-spacing: 9px;
    }
    
    .desc > h1 {
        font-size: 1.25rem;
        color: black;
        font-family: var(--ff-secondary);
        padding: 0.35rem 0rem;
        margin-right: 1rem;
    }
    
    .desc > p {
        line-height: 1.3rem;
        font-size: 1rem;
        margin: 0rem;
        padding: 0rem 2.5rem 0rem 0rem;
    }
    
    .price {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .price > h2 {
        width: 50%;
        font-size: 1.75rem;
        display: inline;
        padding: 0;
    }
    
    .price > span {
        width: 50%;
        padding: 0;
    }
    
    
    button {
        width: 80%;
        /* background-color: var(--Very-dark-blue); */
        background-color: var(--primary-dark-cyan);
        padding: 0.75rem 1rem;
        border-radius: 10px;
    }
    
    button:hover {
        background-color: hsla(120, 92%, 10%, 0.9);
    }
    
    button > img {
        padding: 0rem 1rem;
        height: 1.5rem;
        width: 1.5rem;
    }
    
}